body {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black !important;
    color: white!important;
}

a {
    color: darkcyan;
}
a:link {
    text-decoration: none;
}

a:hover {
    color: darkslategray;
}

a:hover, a:active, a:focus {
    text-decoration: underline;
}

a:focus {
    outline: 0px;
}

img {
    width: 32px;
}