.lista1{
    list-style-type: upper-roman;
}

.pare{
    list-style-image: url('imagens/pare.png');
}

.semaforo{
    list-style-image: url('imagens/semaforo.png');
}

h1{
    font-size: 3rem;
    letter-spacing: .5rem;
    text-align: center;
    color: aqua;
    background-color: black;
}
h2{
   background: linear-gradient(to left,#5d8ef7, rgb(24, 23, 23));
   width: 50vh;
   color: aqua
}
body{
    background: linear-gradient(#0151fd, #ffffff);
}